@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background: hsl(0deg, 100%, 74%) url("./images/bg-intro-mobile.png");
}
@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  html, body {
    height: 100%;
  }
}

main {
  margin: 70px 30px;
}
@media screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin: 0 10vw;
  }
}

.text {
  color: white;
  margin: 30px 0;
  text-align: center;
}
.text h1 {
  font-size: 2.5rem;
}
.text p {
  margin-top: 30px;
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 30px;
  }
  .text h1 {
    font-size: 4rem;
  }
  .text p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .text h1 {
    font-size: 5rem;
  }
  .text p {
    font-size: 1.6rem;
  }
}

.form button {
  background-color: hsl(248deg, 32%, 49%);
  color: white;
  border: none;
  text-align: center;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 0 50px;
}
.form .card {
  margin-top: 25px;
  background-color: white;
  padding: 23px;
  border-radius: 10px;
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.15);
}
.form .card form input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  outline: none;
}
.form .card form input[type=text], .form .card input[type=email], .form .card input[type=password] {
  border: solid lightgray 1px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.form .card form input[type=text]::placeholder, .form .card input[type=email]::placeholder, .form .card input[type=password]::placeholder {
  color: gray;
}
.form .card form input[type=text]:focus, .form .card input[type=email]:focus, .form .card input[type=password]:focus {
  border: solid hsl(249deg, 10%, 26%) 1px;
}
.form .card form div {
  margin-bottom: 16px;
  position: relative;
}
.form .card form div img {
  display: none;
  position: absolute;
  right: 10px;
  top: 12px;
}
.form .card form div p {
  display: none;
  text-align: right;
  margin-right: 0;
  color: hsl(0deg, 100%, 74%);
}
.form .card form div.error img {
  display: block;
}
.form .card form div.error p {
  display: block;
}
.form .card form div.error input {
  border: solid hsl(0deg, 100%, 74%) 1px !important;
}
.form .card form input[type=submit] {
  background-color: hsl(154deg, 59%, 51%);
  border: none;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px hsl(154deg, 57%, 44%);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.form .card p {
  color: hsl(246deg, 25%, 77%);
  font-size: 1.14rem;
  font-weight: 400;
  text-align: center;
  margin: 0 17px;
}
.form .card p span {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .form {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
